In [1]:
import pandas as pd

df1 = pd.read_csv('station_info.csv')
df1.head()

,STAT_NM,STAT_ID,STAT_ADDR,STAT_X,STAT_Y,STAT_USETIME,STAT_PARKPAY,STAT_LIMITYN,STAT_LIMITDETAIL,STAT_KINDDETAIL
0,워터 서울 광화문,BE111108,서울특별시 종로구 종로1길 50,126.978913,37.574641,24시간 이용가능,N,N,NaN,기타
1,광화문 로얄빌딩_B2,CGA00033,서울특별시 종로구 새문안로5길 19,126.974168,37.571977,24시간 이용가능,N,N,NaN,사업장(사옥)
2,광화문 로얄빌딩_B3,CGA00034,서울특별시 종로구 새문안로5길 19,126.974417,37.572031,24시간 이용가능,N,N,NaN,사업장(사옥)
3,SK에코플랜트,EP210268,서울특별시 종로구 율곡로2길 19,126.981095,37.574473,24시간 이용가능(직원전용),Y,Y,SK에코플랜트 직원만 이용가능,사업장(사옥)
4,서울시 세종로공영주차장(급속),EV003446,서울특별시 종로구 세종대로 지하 189,126.975915,37.573374,24시간 이용가능,N,N,외부인 사용불가,공영주차장

In [2]:
df2 = pd.read_csv('charger_info.csv')
df2.head()

,STAT_ID,CHARGER_ID,CHARGER_TYPE,CHARGER_STAT,STATUPDDT,LASTTSDT,LASTTEDT,NOWTSDT,OUTPUT,METHOD
0,BE111108,1,DC콤보,사용가능,NaN,NaN,NaN,NaN,100.0,동시
1,BE111108,2,DC콤보,사용가능,NaN,NaN,NaN,NaN,100.0,동시
2,BE111108,3,DC콤보,사용가능,NaN,NaN,NaN,NaN,100.0,동시
3,BE111108,4,DC콤보,사용가능,NaN,NaN,NaN,NaN,100.0,동시
4,BE111108,11,AC완속,사용가능,NaN,NaN,NaN,NaN,7.0,단독